<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="refresh" content="0;url=/weekly" />
        <title>Redirigiendo ...</title>
    </head>
    <body>
        <p>Redirigiendo a <a href="/weekly">/weekly</a>. . .</p>
    </body>
</html>
